<p>
  <b>Demo of Health Dashboard Service</b>
</p>

<a href="http://hds.warolv.net:4567/api/v1/health">Get health statuses of all services</a>
<br>
<a href="http://hds.warolv.net:4567/api/v1/availability">Get services availability (in percentage) span over the last hour, 1m interval</a>
<br>
<a href="http://hds.warolv.net:4567/api/v1/get_last_hour_samples">Samples monitoring for the last hour</a>
